@import "bourbon";



$main_text_color: #838183;
$main_color : #f17899;
$second_color: #373035;


$main_font: 'Gilroy-Light', sans-serif;
$bold_font: 'Gilroy-Extrabold', sans-serif;
$title: 'PlayfairDisplay-Regular', sans-serif;
$title_italic: 'PlayfairDisplay-Italic', sans-serif;
$title_bolditalic: 'PlayfairDisplay-BoldItalic', sans-serif;