@import "bourbon";



$main_text_color: #7b7b7b;
$main_color : #1988cc;
$second_color: #ffec3d;


$main_font: 'Gilroy-Light', sans-serif;
$bold_font: 'Gilroy-Extrabold', sans-serif;
$title: 'PlayfairDisplay-Regular', sans-serif;
$title_italic: 'PlayfairDisplay-Italic', sans-serif;
$title_bolditalic: 'PlayfairDisplay-BoldItalic', sans-serif;