@import "bourbon";
@import "vars.scss";

//Custom Styles Here

#sec_02{
  padding: 190px 0 100px;;
  .container{
    position: relative;
  }
  .sec_img{
    position: absolute;
    right: -9px;
    top: -17px;
  }

  h2{
    margin-bottom: 50px;
  }
  .title--small{
    margin-bottom: 5px;
    line-height: 24px;
  }
  .text{
    line-height: 26px;
  }
  .item+.item{
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .names_block{
    float: right;
    margin: 73px -5px 0 0;
    letter-spacing: .05em;
    li+li{
      margin-top: 15px;
    }
    .names_cta{
      margin-top: 33px;
    }
  }
}

#sec_03{
  padding: 85px 0 0px;
  .sec_img{
    float: right;
    margin-right: -100px;
  }
  .preheader{
    font-size: 72px;
    line-height: 80px;
  }
  h2{
    margin-bottom: 65px;
  }
  .title--main{
    margin-bottom: 30px;
  }
  .items_list{
    line-height: 24px;
    li+li{
      margin-top: 17px;
    }
  }
  .item+.item{
    margin-top: 50px;
  }

}

#sec_04{
  padding: 70px 0;
  .title--main{
    margin-bottom: 30px;
  }
  .items_list{
    line-height: 24px;
    li+li{
      margin-top: 17px;
    }
  }
  .item+.item{
    margin-top: 50px;
  }
  .date_info_block{
    margin-top: 65px;
    .btn{margin-top: 20px;}
    .title--main{
      margin-bottom: 20px;
    }
  }
  .item_block{
    float: right;
    margin-top: 490px;
    .title--main{
      margin-bottom: 15px;
    }
  }
  .with_img{
    margin-top: -20px;
    background-image: url(../img/sec_04-bg.png);
    background-position: top center;
    background-repeat: no-repeat;;
  }
}


#sec_05{
  padding: 115px 0;
  .header--crossed:before{
    background-image: url(../img/sec_05_headline.png);
    background-position: top center;
    background-repeat: no-repeat;

    margin-top: 0;
    top: 10px;
  }
  h2{margin-bottom: 20px;}
  .date_info_block{
    .title--main{
      margin-bottom: 10px;
    }
    .text{
      line-height: 26px;
    }
  }
  .row+.row{margin-top: 60px;}
}

.coach_card{
  margin-top: 15px;
  .coach_card_img_wrapper{
    margin-bottom: 27px;
  }
  .coach_card_name{margin-bottom: 15px;}
  .more_info{
    display: none;
  }
  .items_list{
    li+li{margin-top: 12px;}
  }
  .coach_card_button{
    width: 100%;
    background: #fff;
    margin-top: 10px;
    width: 330px;
    &:hover{
      background-color: rgba(241, 120, 153, 0.4);
    }
    &.active{
      img{
        transform: rotate(180deg)
      }
    }
  }
}


#sec_06{
  
}


footer{
  padding: 15px 0 15px;
  background-color: #202020;
  .politics{
    margin-top: 17px;
    a{
      color: #65666a;
      font-size: 14px;
    }
    a:hover{color: $main_color;}
    a+a{margin-left: 10px;}
  }
  .logo_rezart{
    margin-top: 5px;
    margin-left: 25px;
    width: 80px;
    // margin-right: 20px;
    float: right;
  }
}

//ALWAYS END
@import "_sketches.scss";
@import "_media.scss";
@import "../libs/niftymodal/component.css";
@import "../libs/slick/slick.min.css";
// @import "../fonts/font-awesome/font-awesome.min.css"