@import url(../libs/niftymodal/component.css);
@import url(../libs/slick/slick.min.css);
#sec_02 {
  padding: 190px 0 100px; }
  #sec_02 .container {
    position: relative; }
  #sec_02 .sec_img {
    position: absolute;
    right: -9px;
    top: -17px; }
  #sec_02 h2 {
    margin-bottom: 50px; }
  #sec_02 .title--small {
    margin-bottom: 5px;
    line-height: 24px; }
  #sec_02 .text {
    line-height: 26px; }
  #sec_02 .item + .item {
    margin-top: 30px;
    margin-bottom: 50px; }
  #sec_02 .names_block {
    float: right;
    margin: 73px -5px 0 0;
    letter-spacing: .05em; }
    #sec_02 .names_block li + li {
      margin-top: 15px; }
    #sec_02 .names_block .names_cta {
      margin-top: 33px; }

#sec_03 {
  padding: 85px 0 0px; }
  #sec_03 .sec_img {
    float: right;
    margin-right: -100px; }
  #sec_03 .preheader {
    font-size: 72px;
    line-height: 80px; }
  #sec_03 h2 {
    margin-bottom: 65px; }
  #sec_03 .title--main {
    margin-bottom: 30px; }
  #sec_03 .items_list {
    line-height: 24px; }
    #sec_03 .items_list li + li {
      margin-top: 17px; }
  #sec_03 .item + .item {
    margin-top: 50px; }

#sec_04 {
  padding: 70px 0; }
  #sec_04 .title--main {
    margin-bottom: 30px; }
  #sec_04 .items_list {
    line-height: 24px; }
    #sec_04 .items_list li + li {
      margin-top: 17px; }
  #sec_04 .item + .item {
    margin-top: 50px; }
  #sec_04 .date_info_block {
    margin-top: 65px; }
    #sec_04 .date_info_block .btn {
      margin-top: 20px; }
    #sec_04 .date_info_block .title--main {
      margin-bottom: 20px; }
  #sec_04 .item_block {
    float: right;
    margin-top: 490px; }
    #sec_04 .item_block .title--main {
      margin-bottom: 15px; }
  #sec_04 .with_img {
    margin-top: -20px;
    background-image: url(../img/sec_04-bg.png);
    background-position: top center;
    background-repeat: no-repeat; }

#sec_05 {
  padding: 115px 0; }
  #sec_05 .header--crossed:before {
    background-image: url(../img/sec_05_headline.png);
    background-position: top center;
    background-repeat: no-repeat;
    margin-top: 0;
    top: 10px; }
  #sec_05 h2 {
    margin-bottom: 20px; }
  #sec_05 .date_info_block .title--main {
    margin-bottom: 10px; }
  #sec_05 .date_info_block .text {
    line-height: 26px; }
  #sec_05 .row + .row {
    margin-top: 60px; }

.coach_card {
  margin-top: 15px; }
  .coach_card .coach_card_img_wrapper {
    margin-bottom: 27px; }
  .coach_card .coach_card_name {
    margin-bottom: 15px; }
  .coach_card .more_info {
    display: none; }
  .coach_card .items_list li + li {
    margin-top: 12px; }
  .coach_card .coach_card_button {
    width: 100%;
    background: #fff;
    margin-top: 10px;
    width: 330px; }
    .coach_card .coach_card_button:hover {
      background-color: rgba(241, 120, 153, 0.4); }
    .coach_card .coach_card_button.active img {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

footer {
  padding: 15px 0 15px;
  background-color: #202020; }
  footer .politics {
    margin-top: 17px; }
    footer .politics a {
      color: #65666a;
      font-size: 14px; }
    footer .politics a:hover {
      color: #f17899; }
    footer .politics a + a {
      margin-left: 10px; }
  footer .logo_rezart {
    margin-top: 5px;
    margin-left: 25px;
    width: 80px;
    float: right; }

/* ================================*/
/* CURSOR STYLES*/
.touch_mode_grab {
  cursor: grab !important;
  cursor: -webkit-grab !important; }

.touch_mode_grabbing {
  cursor: grabbing !important;
  cursor: -webkit-grabbing !important; }

/* ==========================*/
.tabs__content {
  display: none !important; }

.tabs__content.active {
  display: block !important; }

.hidden {
  height: 0;
  width: 0; }

div[id*="modal_callback"] {
  max-width: 500px; }
  div[id*="modal_callback"] h2 {
    font-size: 29px;
    line-height: 36px;
    margin: 30px 30px 0px; }
  div[id*="modal_callback"] .h2_desc {
    margin-bottom: 25px; }
  div[id*="modal_callback"] .md-content {
    padding: 20px;
    background: #fff;
    background-size: cover;
    text-align: center; }
  div[id*="modal_callback"] .form-wrap {
    display: block; }
  div[id*="modal_callback"] .field {
    width: 360px; }
    div[id*="modal_callback"] .field input {
      width: 100%; }
  div[id*="modal_callback"] .field + .field {
    margin-top: 5px; }
  div[id*="modal_callback"] .btn {
    margin: 10px auto 0; }

.field {
  position: relative;
  display: inline-block; }

div[id*="modal_politics"] {
  text-align: center; }
  div[id*="modal_politics"] h2 {
    padding-top: 50px; }

.md_large {
  max-width: 100%;
  width: 90%; }

.md_large .md-content > div.md_content {
  padding: 0px 40px 0px; }

.md_large .md-content p {
  font-size: 0.9em;
  line-height: 1.4; }

.md_large .md-content p:first-child {
  padding-top: 24px; }

.md_large .md-content p:last-child {
  padding-bottom: 24px; }

.md_large .md_content {
  max-height: 680px;
  overflow: auto;
  padding-top: 24px; }

.md_content:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 24px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0));
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
  background-repeat: repeat-x; }

.md_content:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 24px;
  bottom: 0;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0)), to(white));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), white);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  background-repeat: repeat-x; }

.md-content h2 {
  text-align: center; }

.md_bottom {
  padding: 12px 0 0 0; }

.md-content .form_input {
  width: 45%; }

.form_icon {
  position: absolute;
  width: 40px;
  color: #cfcfcf; }

.form_icon i {
  font-size: 18px;
  line-height: 54px; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 50%;
  margin-top: -10px;
  display: block;
  right: 15px;
  height: 20px;
  width: 20px;
  color: #FF6565;
  cursor: default; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  line-height: 14px;
  color: #000;
  font-style: italic;
  font-size: 13px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: center; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -10px;
  opacity: 1; }

.btn_close_modal {
  position: absolute;
  right: 30px;
  z-index: 10;
  top: 30px;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  margin: 0 auto 20px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }
  .btn_close_modal svg {
    width: 40px; }
  .btn_close_modal a {
    color: #000;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .btn_close_modal a svg .a {
      -webkit-transition: all .3s;
      transition: all .3s;
      fill: #d4d4d4; }
  .btn_close_modal a:hover {
    color: #000; }
    .btn_close_modal a:hover svg .a {
      fill: #f17899; }

.t_small {
  font-size: 14px; }

.slick-dots {
  position: absolute;
  bottom: -40px;
  display: block;
  width: 100%;
  text-align: center; }

.slick-dots li {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li.slick-active button {
  background: none; }

.slick-dots li button {
  background-color: #000;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #000;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 12px;
  line-height: 0;
  outline: medium none;
  padding: 2px;
  width: 12px; }

.slick-next, .slick-prev {
  bottom: initial;
  top: 200px;
  background: none;
  width: 20px;
  height: 20px; }

.slick-next {
  border-top: 4px solid #000;
  border-right: 4px solid #000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 10px;
  margin: 0; }

.slick-prev {
  border-top: 4px solid #000;
  border-left: 4px solid #000;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 10px;
  margin: 0; }

.slick-next:hover {
  border-top: 4px solid #f17899;
  border-right: 4px solid #f17899; }

.slick-prev:hover {
  border-top: 4px solid #f17899;
  border-left: 4px solid #f17899; }

.slick-next:before, .slick-prev:before {
  display: none; }

.slick-slide {
  outline: none; }

.field {
  position: relative;
  display: block; }
  .field input {
    padding: 25px 0;
    width: 100%;
    color: #000;
    font: 18px/20px "Gilroy-Light", sans-serif; }
  .field textarea {
    padding: 25px 0;
    width: 100%;
    color: #000;
    font: 18px/20px "Gilroy-Light", sans-serif; }

.field:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #f0f0f0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }

.bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #f17899;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }

input:active + .bar, input:focus + .bar,
textarea:active + .bar, textarea:focus + .bar {
  width: 100%; }

.field + .field {
  margin-top: 7px; }

input::-webkit-input-placeholder {
  color: #9F9F9F;
  font: 18px/24px "Gilroy-Light", sans-serif; }

input:-moz-placeholder {
  color: #9F9F9F;
  font: 18px/24px "Gilroy-Light", sans-serif; }

input::-moz-placeholder {
  color: #9F9F9F;
  font: 18px/24px "Gilroy-Light", sans-serif; }

input:-ms-input-placeholder {
  color: #9F9F9F;
  font: 18px/24px "Gilroy-Light", sans-serif; }

@media (min-width: 768px) and (max-width: 991px) {
  footer .politics a {
    font-size: 13px; } }

@media screen and (max-height: 700px) {
  .md_large .md_content {
    max-height: 320px; } }

@media (max-width: 767px) {
  footer {
    text-align: center; }
    footer .politics a {
      font-size: 14px;
      display: block;
      text-align: center; }
    footer .politics a + a {
      margin-left: 0; }
    footer .logo_rezart {
      display: inline-block;
      float: none;
      margin-top: 20px; }
  div[id*="modal_callback"] {
    min-width: 320px; }
    div[id*="modal_callback"] .md-content {
      padding: 35px;
      background: #fff; }
    div[id*="modal_callback"] h2 {
      margin: 30px 0;
      line-height: 34px; }
    div[id*="modal_callback"] form {
      display: block;
      max-width: 390px;
      margin: 0 auto;
      width: 100%; }
    div[id*="modal_callback"] .field {
      max-width: 360px;
      width: 100%; }
    div[id*="modal_callback"] .field + .field {
      margin-top: 15px; }
    div[id*="modal_callback"] .btn {
      margin: 25px auto 0; }
  div[id*='modal_politics'] h2 {
    padding-top: 70px; }
  div[id*='modal_politics'] .btn_close_modal {
    top: 20px; } }
