body {
  position: relative;
  font: 18px/24px "Gilroy-Light", sans-serif;
  color: #838183;
  background-color: #fff; }

body.unscroll {
  overflow: hidden; }

h2 {
  color: #373035;
  font-size: 48px;
  line-height: 56px;
  position: relative; }

.md-modal.md-show {
  opacity: 1; }

.md-modal {
  opacity: 0; }

.hidden {
  height: 0;
  width: 0; }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #f17899;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: #f17899; }

.text--title {
  font-family: "PlayfairDisplay-Regular", sans-serif; }

.text--italic {
  letter-spacing: .05em;
  font-family: "PlayfairDisplay-Italic", sans-serif; }

.text--ibold {
  font-family: "PlayfairDisplay-BoldItalic", sans-serif;
  color: #373035;
  letter-spacing: .05em; }

.text--pink {
  color: #f17899; }

.text--white {
  color: #fff; }

.title--main {
  font-size: 24px;
  line-height: 30px; }

.title--small {
  font-size: 18px; }

.btn {
  max-width: 200px;
  width: 100%;
  height: 50px;
  background-color: #ff0065;
  color: #fff;
  font: 14px/24px "PlayfairDisplay-BoldItalic", sans-serif;
  text-align: center;
  letter-spacing: 0.05em; }
  .btn:hover {
    background-color: #00c8c8; }
  .btn:active {
    background-color: #007b7b; }

section {
  padding-bottom: 77px;
  position: relative;
  min-height: 100vh;
  background-image: url(img/bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #373135;
  text-align: center;
  padding-top: 200px; }
  section .logo {
    margin-right: -72px; }
  section h1 {
    color: #ffffff;
    font-size: 72px;
    line-height: 76px;
    margin: 20px 0 30px; }
  section .btn {
    margin: 50px auto 160px; }

footer {
  padding: 15px 0 15px;
  background-color: #202020;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  footer .politics {
    margin-top: 17px; }
    footer .politics a {
      color: #65666a;
      font-size: 14px; }
    footer .politics a:hover {
      color: #f17899; }
    footer .politics a + a {
      margin-left: 10px; }
  footer .logo_rezart {
    margin-top: 5px;
    margin-left: 25px;
    width: 80px;
    float: right; }

@media (min-width: 768px) and (max-width: 991px) {
  footer .politics a {
    font-size: 13px; } }

@media screen and (max-height: 700px) {
  .md_large .md_content {
    max-height: 320px; } }

@media (max-width: 767px) {
  [class*='col'] {
    width: 100%; }
  section {
    padding-bottom: 182px;
    overflow: hidden;
    padding-top: 60px;
    background-image: none; }
  footer {
    text-align: center; }
    footer .politics a {
      font-size: 14px;
      display: block;
      text-align: center; }
    footer .politics a + a {
      margin-left: 0; }
    footer .logo_rezart {
      display: inline-block;
      float: none;
      margin-top: 20px;
      margin-left: 0; }
  div[id*='modal_politics'] h2 {
    padding-top: 70px;
    font-size: 28px; }
  div[id*='modal_politics'] .btn_close_modal {
    top: 20px; } }
